body {
  background-color: $dark_blue;
  color: #fff;
  min-height: 200vh; // temp
  font-family: 'Raleway';
  letter-spacing: 0.5px;
  font-size: 14px;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.section_title {
  font-size: 36px;
  line-height: 48px;
  color: $gold;
  font-family: $f_play;
  margin: 0 0 30px;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}